[WS]
Prefix=localhost
TLSOnly=0
Fallback=http://bloodcat.com/osu/

[DB]
ConnectionString=Server=db;User=root;Password=;Database=obm;oldguids=true

[KEY]
API=See https://github.com/ppy/osu-api/wiki
Id=Your osu! username
Pw=Your osu! password
LastCheckTime=2020-02-04T08:03:56
UserAgent=Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:66.0) Gecko/20100101 Firefox/66.0

[EXP]
SetId=//b\.ppy\.sh/thumb/(\d+)

[ENV]
Storage=C:\beatmapsets
LogPath=C:\logs\obm.log
# Minimum number of favorites that a user can register a beatmapset.
FavoriteMinimum=2
# Seconds to wait for a server response.
ResponseTimeout=10
# Interval, in seconds, between running `Bot.exe` periodically.
SyncInterval=10800
# Each BeatmapList value represents the value of `r`(Rank Status) parameter.
# * Ranked & Approved => https://old.ppy.sh/p/beatmaplist?r=0
# * Qualified => https://old.ppy.sh/p/beatmaplist?r=11
# * Loved => https://old.ppy.sh/p/beatmaplist?r=12
# * All => https://old.ppy.sh/p/beatmaplist?r=4
#BeatmapList=0,11,12,4
BeatmapList=0
